body {
  background-color: #ffffff;
  margin-top: 0px;
}



html {
  scroll-behavior: smooth;
}

.Overall-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.Banner-Container {
  display: flex;
  justify-content: right;
  align-items: right;
  position: sticky;
  margin-right: 40px;
  margin-top: 20px;
  gap: 80px;

  width: 100vw;
}

.container {
  background: transparent;
  border: none;
  font-family: 'Playfair Display', sans-serif;
  font-size: xx-large;
  transition: color, 0.5s;
  color: #000000;
  transition: text-shadow, 0.3s;
}

.container-1 {
  margin-left: 20px;
}

.container:hover {
  color: #000000;
  text-shadow: 3px 3px 8px rgb(0 0 0);

}

.anchors {
  text-decoration: none;
}

.Pfp-Placeholder {
  aspect-ratio: 3/4;
  height: 120vh;
  margin-right: 70px;
  border-radius: 20px;
}

.Desc-Holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.About-Text {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 3vh;
}

.Para-Holders {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 800px;
 
  
}

.About-heading {
  font-family: 'Rubik', sans-serif;
  color: #000000;
  font-size: 5vh;
  font-weight: bolder;
}

p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}