/* Style for the SVG button */
.X-btn {
  margin-top: 210px;
  width: 100px;       /* size */
  height: 100px;
  fill: #000;        /* default color */
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Hover effect */
.X-btn:hover {
  fill: #000000;     /* blue highlight */
  transform: scale(1.2); /* slight zoom */
}
body {
  background-color: #ffffff;
  margin-top: 0px;
}

html {
  scroll-behavior: smooth;
}

.Overall-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.Banner-Container {
  display: flex;
  justify-content: right;
  align-items: right;
  position: sticky;
  margin-right: 40px;
  margin-top: 20px;
  gap: 80px;

  width: 100vw;
}

.container {
  background: transparent;
  border: none;
  font-family: 'Playfair Display', sans-serif;
  font-size: xx-large;
  transition: color, 0.5s;
  color: #000000;
  transition: text-shadow, 0.3s;
}

.container-1 {
  margin-left: 20px;
}

.container:hover {
  color: #000000;
  text-shadow: 3px 3px 8px rgb(0 0 0);

}

.anchors {
  text-decoration: none;
}

.anchor-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
