body {
  background-color: #ffffff;
  margin-top: 0px;
}

html {
  scroll-behavior: smooth;
}

.Overall-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.Banner-Container {
  display: flex;
  justify-content: right;
  align-items: right;
  position: sticky;
  margin-right: 40px;
  margin-top: 20px;
  gap: 80px;

  width: 100vw;
}

.container {
  background: transparent;
  border: none;
  font-family: 'Playfair Display', sans-serif;
  font-size: xx-large;
  transition: color, 0.5s;
  color: #000000;
  transition: text-shadow, 0.3s;
}

.container-1 {
  margin-left: 20px;
}

.container:hover {
  color: #000000;
  text-shadow: 3px 3px 8px rgb(0 0 0);

}

.anchors {
  text-decoration: none;
}

.Quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.the-quote {
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: 3em;
  margin-block-start: 50px;
  margin-block-end: 10px;
}

.the-quote-2 {
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: 3em;
  margin-block-end: 230px;
  margin-block-start: 10px;
}

.Picture-Lane-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-block-end: 50px;

}

.Pic {
  aspect-ratio: 3/4;
  height: 80vh;
}

.fade-in {
  opacity: 0;
  transition: opacity 2.5s ease-out, transform 2.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
